source ~/.vimrc
" TODO: add these to .vimrc
Plug 'michaeljsmith/vim-indent-object'
Plug 'tommcdo/vim-exchange'
Plug 'vim-scripts/argtextobj.vim'
Plug 'tpope/vim-surround'
let g:argtextobj_pairs="[:],(:),<:>"
vnoremap < <gv
vnoremap > >gv

nnoremap [[ ?^\s*\(class\|def\)<CR>
nnoremap ]] /^\s*\(class\|def\)<CR>
